/* 设置全局字体 */
body {
    font-family: 'Open Sans', sans-serif;
}

/* 设置标题字体 */
.start-page-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800; /* 800 表示加粗 */
}

/* 设置输入框字体 */
.input-container input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300; /* 300 表示较轻的字体 */
}

/* 设置按钮字体 */
.start-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; /* 可以根据需要调整 */
}




